body {box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

#container>div {
    border: 1px solid black;
    width: 25px;
    height: 75px;
    flex: 1 1 5.88%;
}

